footer{
    background-color: var(--bg-secondary-color);
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#regresoFoot{
    margin-left: 10px;
}

#regresoFoot a{
    border-radius: 20px;
    text-decoration: none;
    color: var(--bt-letter);
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    background-color: var(--bt-bg);
}

.regresoFoot a:hover{
    color: var(--letter-hover);
}

#marcaDagua{
    color: rgba(255, 255, 255, 0.582);
    font-size: 20px;
    text-align: center;
}
